/* light theme */
:root {
  --background-color: white;
  --link-color: pink;
  --text-color: black;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
a {
  color: var(--link-color);
  text-decoration: none;
}
a:focus,
a:hover {
  text-decoration: underline;
}
